<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>百科-妈妈网</title>
    <meta name="keywords" content="育儿" />
    <meta name="description" content="育儿平台" />
    <!--css-->
    <link href="../../../static/web-static/css/common/common.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="../../../static/web-static/css/common/ad.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="../../../static/web-static/css/baike/baike.css" type="text/css" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="mama-top-bar">

</div>
<div class="baike-top">
    <div class="left">

    </div>
    <div class="logo">
        <a href="#" title="妈妈网">
            <img src="../../../static/web-static/imgs/ad/baike.png"/>
        </a>
    </div>
</div>
<div class="baike-nav">
    <div class="baike-title">
        <li><a href="baike.html">首页</a></li>
        <li><a href="baby.html">亲子</a></li>
        <li><a href="nutrition.html">营养</a></li>
        <li><a href="disease.html">疾病</a></li>
        <li><a href="life.html"> 生活</a></li>
        <li><a href="lady.html">女性</a></li>
        <li><a href="useage.html">用品</a></li>
    </div>
</div>
<div class="baike-sub-title">
    <div class="left">

    </div>
    <div class="main">

    </div>
    <div class="baby">

    </div>
    <div class="nutrition">

    </div>
    <div class="disease">

    </div>
    <div class="life">

    </div>
    <div class="lady">

    </div>
    <div class="useage">

    </div>
</div>
<div class="baike-content">
    <div class="baike-ad">
        <div class="big-img">
            <a href="#" title="妈妈网">
                <img src="../../../static/web-static/imgs/ad/ad11.jpg"/>
            </a>
        </div>
        <div class="small-top">
            <a href="#"  title="妈妈网">
                <img src="../../../static/web-static/imgs/ad/ad6.png"/>
            </a>
        </div>
        <div class="small-bottom">
            <div class="small-bottom-left">
                <a href="#"  title="妈妈网">
                    <img src="../../../static/web-static/imgs/ad/ad5.jpg"/>
                </a>
            </div>
            <div class="small-bottom-right">
                <a href="#"  title="妈妈网">
                    <img src="../../../static/web-static/imgs/ad/ad4.jpg"/>
                </a>
            </div>
        </div>

    </div>
    <div class="article">
        <div class="left">
            <div class="title">
                精选
            </div>
            <div class="article-img">

                <a href="#"  title="妈妈网">
                    <img src="../../../static/web-static/imgs/ad/ad12.jpg"/>
                </a>
                <div class="title">
                    妊娠剧吐并发症
                </div>
                <div class="detail">
                    对于各位孕妈妈恶言，得知自己刚刚怀孕是一件开心，但是也有点痛苦的事
                </div>
            </div>
            <div class="article-normal">
                <div class="index">
                    <div class="number">
                        2
                    </div>
                </div>
                <div class="title">
                    妊娠剧吐可以调理吗
                </div>
                <div class="detail">
                    对于各位孕妈妈恶言，得知自己刚刚怀孕是一件开心，但是也有点痛苦的事
                </div>
            </div>
            <div class="article-normal">
                <div class="index">
                    <div class="number">
                        3
                    </div>
                </div>
                <div class="title">
                    感冒咳嗽喝姜汤有用吗
                </div>
                <div class="detail">
                    对于各位孕妈妈恶言，得知自己刚刚怀孕是一件开心，但是也有点痛苦的事
                </div>
            </div>
            <div class="article-normal">
                <div class="index">
                    <div class="number">
                        4
                    </div>
                </div>
                <div class="title">
                    发育迟缓的孩子怎么教
                </div>
                <div class="detail">
                    对于各位孕妈妈恶言，得知自己刚刚怀孕是一件开心，但是也有点痛苦的事
                </div>
            </div>

        </div>
        <div class="mid">
            <div class="title">
                热门百科
            </div>
            <div class="baike-article">

            </div>
            <div class="baike-article">

            </div>
            <div class="baike-article">

            </div>

        </div>
        <div class="right">
            <div class="title">
                最新
            </div>
            <div class="article-normal">
               
            </div>
            <div class="article-normal">

            </div>
            <div class="article-normal">

            </div>
            <div class="article-normal">

            </div>
        </div>
    </div>

    <div class="mid-title">

    </div>

</div>



<script type="text/javascript" src="../../../static/web-static/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../../static/web-static/js/baike/baike.js"></script>
</body>
</html>