<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>百科-妈妈网</title>
    <meta name="keywords" content="育儿" />
    <meta name="description" content="育儿平台" />
    <!--css-->
    <link th:href="@{/web-static/css/common/common.css}" type="text/css" rel="stylesheet" media="screen"/>
    <link th:href="@{/web-static/css/common/ad.css}" type="text/css" rel="stylesheet" media="screen"/>
    <link th:href="@{/web-static/css/baike/baike.css}" type="text/css" rel="stylesheet" media="screen"/>
    <link th:href="@{/web-static/css/baike/baby.css}" type="text/css" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="mama-top-bar">

</div>
<div class="baike-top">
    <div class="left">

    </div>
    <div class="logo">
        <a href="#" title="妈妈网">
            <img th:src="@{/web-static/imgs/ad/baike.png}"/>
        </a>
    </div>
</div>
<div class="baike-nav">
    <div class="baike-title">
        <li><a href="/" id = "li-main" ><span>首页</span></a></li>
        <li><a href="/baike/catalog?id=1" id = "li-baby"><span>亲子</span></a></li>
        <li><a href="nutrition.html" id = "li-education"> <span>教育</span></a></li>
        <li><a href="disease.html" id = "li-desease"><span>疾病</span></a></li>
        <li><a href="life.html" id = "li-life"> <span>生活</span></a></li>
        <li><a href="lady.html" id = "li-lady"><span>女性</span></a></li>
        <li><a href="useage.html" id = "li-useage"><span>用品</span></a></li>
    </div>
</div>
<div class="baike-sub-title">
    <div class="baike-sub-title-mid">
        <div class="main">

        </div>
        <div class="baby">
            <th:block th:each="nav,iterStat:${babynavlist}">
                <li><a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>
        </div>
        <div class="education">
            <th:block th:each="nav,iterStat:${edunavlist}">
                <li><a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>

        </div>
        <div class="disease">
            <th:block th:each="nav,iterStat:${deseasenavlist}">
                <li style="width: 130px;text-align: center"><a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>
        </div>
        <div class="life">
            <th:block th:each="nav,iterStat:${lifenavlist}">
                <li><a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>
        </div>
        <div class="lady">
            <th:block th:each="nav,iterStat:${ladynavlist}">
                <li><a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>
        </div>
        <div class="useage">
            <th:block th:each="nav,iterStat:${useagenavlist}">
                <li style="width: 130px;text-align: center"> <a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="${nav.catalogName}">备孕</span></a></li>
            </th:block>
        </div>
    </div>
</div>
<div class="baike-content">
    <div class="baby-big-tiny-bar">
        <a href="/">首页</a>
        <th:block th:each="nav,iterStat:${navlist}">
            <a th:href="@{'/baike/catalog?id='+${nav.id}}"><span th:text="'>'+${nav.catalogName}">备孕</span></a>
        </th:block>
    </div>
    <div class="baby-big-title">
        <div class="left">
            <div class="top">
                <img th:src="@{/web-static/imgs/ad/ad12.jpg}"/>
            </div>
            <div class="bottom">
                <th:block th:each="catalog,iterStat:${cataloglist}">
                    <span th:text="${catalog.catalogName}">亲子</span>
                </th:block>

            </div>
        </div>
        <div class="right">
            <th:block th:each="title,iterStat:${titlelist}">
                <li th:if="${title.catalogType} == 1"> <a th:href="@{'/baike/catalog?id='+${title.id}}"><span th:text="${title.catalogName}">备孕</span></a></li>
                <li th:if="${title.catalogType} == 0"> <a th:href="@{'/baike/article?id='+${title.id}}"><span th:text="${title.catalogName}">备孕</span></a></li>
            </th:block>

        </div>
    </div>

    <div class="baike-body">

        <th:block th:each="map,iterStat:${catalogmaplist}">
            <div class="catalog-title">
                <a th:href="@{'/baike/catalog?id='+${map.catalog.id}}"> <span th:text="${map.catalog.catalogName}">备孕</span> </a>
            </div>
            <div class="catalog-content">
                <th:block th:each="mapCatalog,iterCatalogStat:${map.catalogsublist}">
                    <li th:if="${mapCatalog.catalogType} == 1"> <a  th:href="@{'/baike/catalog?id='+${mapCatalog.id}}"><span th:text="${mapCatalog.catalogName}">单纯疱疹病毒</span></a></li>

                    <li th:if="${mapCatalog.catalogType} == 0"> <a  th:href="@{'/baike/article?id='+${mapCatalog.id}}"><span th:text="${mapCatalog.catalogName}">单纯疱疹病毒</span></a></li>
                </th:block>

            </div>
        </th:block>



    </div>
</div>



<script type="text/javascript" th:src="@{/web-static/js/jquery/jquery-1.7.2.min.js}"></script>
<script type="text/javascript" th:src="@{/web-static/js/baike/baike.js}"></script>
<script type="text/javascript" th:src="@{/web-static/js/baike/article.js}"></script>
</body>
</html>