<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>百科-妈妈网</title>
    <meta name="keywords" content="育儿" />
    <meta name="description" content="育儿平台" />
    <!--css-->
    <link href="../../../static/web-static/css/common/common.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="../../../static/web-static/css/common/ad.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="../../../static/web-static/css/baike/baike.css" type="text/css" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="mama-top-bar">

</div>
<div class="baike-top">
    <div class="left">

    </div>
    <div class="logo">
        <a href="baike.html" title="首页">
            <img src="../../../static/web-static/imgs/ad/baike.png"/>
        </a>
    </div>
</div>
<div class="baike-nav">
    <div class="baike-title">
        <li><a href="baike.html">首页</a></li>
        <li><a href="baby.html">亲子</a></li>
        <li><a href="nutrition.html">营养</a></li>
        <li><a href="disease.html">疾病</a></li>
        <li><a href="life.html"> 生活</a></li>
        <li><a href="lady.html">女性</a></li>
        <li><a href="useage.html">用品</a></li>
    </div>
</div>
<div class="baike-sub-title">
    <div class="left">

    </div>
    <div class="main">

    </div>
    <div class="baby">

    </div>
    <div class="nutrition">

    </div>
    <div class="disease">

    </div>
    <div class="life">

    </div>
    <div class="lady">

    </div>
    <div class="useage">

    </div>
</div>



<script type="text/javascript" src="../../../static/web-static/js/jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../../../static/web-static/js/baike/baike.js"></script>
</body>
</html>