/*妈妈网log*/
.nav
{
    width: 1000px;
    height:120px;
    margin: 0px auto;
}

.index-nav-top-log
{
    margin-top: 20px;
    margin-left: 100px;
    width: auto;
    height: auto;
    float: left;
}
/**
输入框
 */
.index-nav-top-input{
    width: 600px;
    height: 120px;
    float: left;
}
.index-nav-top-input input {
    float: right;
    margin-top: 40px;
    width: 400px;
    height: 40px;
    border:1px solid RGB(106,191,75);
    font-size: 16px;

}
/*搜索按钮*/
 .search-btn{

     width: 100px;
     height: 120px;
     float: left;
}
 /*搜索框按钮图片*/
.search-btn img
{
    margin-top: 40px;
    width : 65px;
    height: 44px;
    border :0px;
}
/*导航栏*/
.index-nav-top
{
    margin: auto;
    background-color:RGB(106,191,75);
    height:46px;
}
/*导航栏字体*/
/*首页*/
.nav_list_main_title{
    margin-left:100px ;
    width: 80px;
    float: left;
    zoom:1;
}
.nav_list_main_title li{
    display:inline-block;
    width: 200px;
    height:46px;
    padding:0 18px;
    font-size:20px;
    line-height:46px;
    color:#fff;
    font-weight: bold;
}

/*大标题*/
.nav_list_title{
    float: left;
    display:inline-block;
    width: 40px;
    height:46px;
    padding:0 18px;
    font-size:18px;
    line-height:46px;
    color:#ffff;
    font-weight: bold;
}

/*小标题*/
.nav_list{
    float: left;
    margin: auto;
    height: 46px;
    zoom:1;
}
.nav_list li{display:inline-block;float:left;height:46px;margin-right:2px; }
.nav_list li a{display:inline-block;height:46px;padding:0 18px;font-size:16px;line-height:46px;color:#fff;}
.nav_list li .on,
.nav_list li a:hover{background-color:RGB(64,155,31);color:#fff;text-decoration:none; }

.advise
{
    width: 1130px;
    height: 300px;
    margin: 10px auto;
}
.advise .sowing-map
{
    margin-top: 10px;
    float: left;
    width: 710px;
    height: 280px;
    background-color: aquamarine;
}
.sowing-map img
{
    width: 100%;
    height: 100%;
    border: 0px;
}
.advise .baby-brithday
{
    margin-left: 10px;
    margin-top: 10px;
    float: right;
    width: 400px;
    height: 280px;
    background-color: RGB(255,241,241);
}
.advise .baby-brithday img
{
    float: right;
    width: 400px;
    height: 280px;
}
/*新闻*/
.news
{
    width: 1130px;
    height: 600px;
    margin: 10px auto;
}
.news .today-news
{
    float: left;
    width: 500px;
    height: 580px;
    margin: 10px auto;
}
.news  .title{
    margin-top: 5px;
    float: left;
    width: 500px;
    height: 40px;
    margin: 0px auto;
    font-size: 25px;
    color: RGB(253,91,120);

}
.news .today-news .content
{
    float: left;
    width: 500px;
    height: 540px;
    border-top: 1px solid rgba(226, 0, 226, 0.16) ;
}
.news .today-news .content .dd
{
    float: left;
    width: 500px;
    height: 170px;
    border-top: 1px solid rgba(226, 0, 226, 0.16) ;
}
.news .today-news .content .dd .dt
{
    margin-top: 10px;
    float: left;
    width: 500px;
    height: 40px;
    font-size: 20px;
}
.news .today-news .content .dd .small
{
    margin-top: 15px;
    float: left;
    width: 500px;
    height: 55px;
    font-size: 16px;
    color: gray;
}
.news .today-news .content .dd .similar
{
    margin-top: 10px;
    float: left;
    width: 500px;
    height: 40px;
    font-size: 16px;
    color: gray;
}
.news .today-photo
{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 300px;
    height: 580px;
}
.news .today-photo .content
{
    float: left;
    width: 300px;
    height: 540px;
    border-top: 1px solid rgba(226, 0, 226, 0.16);
}
.news .today-photo .content img
{
    margin: 0 auto;
    width: 300px;
    height: 250px;
}
.news .today-more
{
    margin-top: 10px;
    margin-left: 10px;
    float: right;
    width: 310px;
    height: 580px;
}
.news .today-more .content
{
    float: left;
    width: 300px;
    height: 540px;
    border-top: 1px solid rgba(226, 0, 226, 0.16) ;
}
.news .today-more .content .dt
{
    float: left;
    width: 300px;
    height: 50px;
    font-size: 14px;
    margin-top: 12px;
}
.hot-man
{
    margin: 10px auto;
    width: 1130px;
    height: 250px;
}
.hot-man .content
{
    margin: 10px auto;
    width: 1130px;
    height: 200px;
}
.hot-man .title{
    width: 1130px;
    height: 40px;
    font-size: 24px;
    color:RGB(253,91,120);
    border-bottom:1px solid rgba(226, 0, 226, 0.16) ;
}
.hot-man .content img
{
    margin-top: 10px;
    width: 180px;
    height: 180px;
}
.my-baby
{
    margin: 10px auto;
    width: 1130px;
    height: 500px;
}
.my-baby .title{
    margin-top: 20px;
    width: 1130px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    font-size: 30px;
    border-bottom:1px solid rgba(226, 0, 226, 0.16) ;
    color: RGB(112,202,183);
}
.my-baby .content
{
    margin: 10px auto;
    width: 1130px;
    height: 430px;
}
.my-baby .content .left-img
{
    float: left;
    height: 430px;
    width: 400px;
}
.my-baby .content .left-img img
{
    height: 430px;
    width: 400px;
}
.my-baby .content .news{
    margin-left: 20px;
    height: 430px;
    width: 600px;
    float: left;
}
.my-baby .content .dd
{
    float: left;
    width: 400px;
    height: 130px;
}
.my-baby .content .news .dd .dt
{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.my-baby .content .news .dd .small
{
    margin-top: 15px;
    float: left;
    width: 100%;
    height: 55px;
    font-size: 16px;
    color: gray;
}

/*社交*/
.social
{
    margin: 20px auto;
    width: 1130px;
    height: 540px;
}
.social .title{
    margin-top: 20px;
    width: 1130px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    font-size: 30px;
    border-bottom:1px solid rgba(226, 0, 226, 0.16) ;
    color: RGB(112,202,183);
}
.social .content
{
    margin-top: 10px;
    float: left;
    width: 100%;
    height: 520px;
}
.social .content .left{
    float: left;
    width: 500px;
    height: 480px;
}
.social .content .left .news
{
    float: left;
    width: 500px;
    height: 260px;
}
.social .content .left .news .line-news{
    margin-top: 10px;
    float: left;
    width: 500px;
    height: 120px;
}
.social .content .left .news .line-news .dt{
    float: left;
    width: 500px;
    height: 40px;
    font-size: 20px;
    color: black;

}
.social .content .left .news .line-news .dd
{
    float: left;
    width: 500px;
    height: 60px;
    font-size: 16px;
    color: lightgray;
}
.social .content .middle
{
    margin-left: 10px;
    float: left;
    width: 300px;
    height: 500px;
}
.social .content .middle .top-img
{
    float: left;
    width: 200px;
    height: 220px;
}
.social .content .middle .top-img img
{
    margin-left: 10px;
    width: 180px;
    height: 180px;
}
.social .content .middle .bottom-img
{
    margin-top: 10px;
    float: left;
    width: 200px;
    height: 220px;
}
.social .content .middle .bottom-img img
{
    margin-left: 10px;
    width: 180px;
    height: 180px;

}
.social .content img
{
    float: left;
    width: 500px;
    height: 200px;
}
.star-mama
{
    margin: 10px auto;
    width: 1130px;
    height: 500px;
}
.star-mama .left
{
    margin: 10px auto;
    width: 600px;
    height: 500px;
    float: left;
}
.star-mama .left .dt{
    margin-top: 10px;
    width: 600px;
    height: 80px;
    float: left;
    color: rgba(226, 0, 226, 0.5) ;
    font-size: 30px;
    text-align: center;


}
.star-mama .left img
{
    width: 580px;
    height: 400px;
}

.star-mama .right
{
    margin: 10px auto;
    width: 500px;
    height: 500px;
    float: right;
}
.star-mama .right .top
{
    margin: 0px auto;
    width: 500px;
    height: 250px;
    float: left;
}
.star-mama .right .top img
{
    width: 100%;
    height: 96%;
}
.star-mama .right .bottom
{
    margin: 0px auto;
    width: 500px;
    height: 250px;
    float: left;
}
.star-mama .right .bottom .left
{
    margin: 0px auto;
    width: 245px;
    height: 250px;
    float: left;
}
.star-mama .right .bottom .left img
{
    width: 245px;
    height: 250px;
}
.star-mama .right .bottom .right
{
    margin: 0px auto;
    width: 245px;
    height: 250px;
    float: right;
}
.star-mama .right .bottom .right img
{
    width: 245px;
    height: 250px;
}
.star-mama .title{
    margin-top: 20px;
    width: 1130px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    font-size: 30px;
    border-bottom:1px solid rgba(226, 0, 226, 0.16) ;
    color: RGB(112,202,183);
}
/*底部*/
.bottom
{
    width: 1130px;
    height: 100px;
    margin: 10px auto;
    background-color: antiquewhite;
}