.card-tiny-bar
{
    margin: 0px auto;
    width: 800px;
    height: 40px;
}
.card-tiny-bar span
{
    margin-left: 10px;
    line-height: 40px;
    font-size: 13px;

}
.card-body
{
    margin: 0px auto 10px auto;
    width: 800px;
    height: auto;
    background-color: white;
    overflow:hidden
}
.card-body .layer
{
    margin: 10px auto 0px auto;
    padding: 10px;
    float: left;
    width: 800px;
    height: auto;
    overflow:hidden
}
.card-body .layer::after
{
    clear: both
}
.card-body .card-block
{
    float: left;
    margin-bottom: 10px;
    width: 800px;
    height: auto;
    border-bottom: 1px dashed lavender;
    overflow:hidden
}
.card-body .card-block::after
{
    clear: both
}
.card-body  .card-title
{
    margin: 0px auto 10px auto;
    width: 800px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #47bec0;
    text-align: center;
}
.card-body .layer .card-block .card-left
{
    margin-top: 10px;

    float: left;
    width: 80px;
    height: 100%;
    overflow:hidden

}
.card-body .layer .card-block .card-left a img
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.card-body .layer .card-block .card-right
{
    margin: 10px auto 0 0px;
    width: 680px;
    height: auto;
    overflow:hidden;
    background-color: RGB(238,238,238);
    border-radius: 10px;
}
.card-body .layer .card-block .card-right .card-creator-info
{
    margin-top: 10px;
    float: right;
    width: 680px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
}
.card-body .layer .card-block .card-right .card-creator-info .user-nick-name
{
}
.card-body .layer .card-block .card-right .card-creator-info .user-nick-name span{
    font-weight: bold;
    color: RGB(123,195,95);
}
.card-body .layer .card-block .card-right .card-creator-info span
{
    margin-left: 20px;
    float: left;
    color: RGB(123,195,95);

}
.card-body .layer .card-block .card-right .card-content
{
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px auto 0 auto;
    width: 660px;
    height: auto;

}