@CHARSET "UTF-8";
a span:hover{color: #C20C0C;text-decoration:underline /*无下划线*/ }
a:link{color:#400040;text-decoration:none /*无下划线*/}
a:visited{color:#400040;text-decoration:none /*无下划线*/}
a:active{color:#400040;text-decoration:none /*无下划线*/}



.clearfix{display:block;zoom:1}

.mama-top-bar
{
    width: 100%;
    height: 30px;
    background-color: #f8f8f8;
}
body{

    margin: 0px auto;
    padding: 0px;
}
.mama-top-bar .top-bar-right
{
    float: right;
    width: 400px;
    height: 100%;
    line-height: 30px;

}
.mama-top-bar .top-bar-right span{
    font-size: 12px;
}
.mama-top-bar .top-bar-right a{
    margin-left: 20px;
}