<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>妈妈网-怀孕-待产-产后-月子等知识平台</title>
    <meta name="keywords" content="育儿" />
    <meta name="description" content="育儿平台" />
    <!--css-->
    <link th:href="@{web-static/css/common/common.css}" type="text/css" rel="stylesheet" media="screen"/>
    <link th:href="@{web-static/css/main/main.css}" type="text/css" rel="stylesheet" media="screen"/>

</head>

<body>
    <div class="nav">
        <div class="index-nav-top-log">
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/main/mama-log.png}" width="157" height="80" border="0"/>
            </a>
        </div>
        <div class="index-nav-top-input">
            <input type="text" name="lname" />
        </div>
        <div class="search-btn">
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/nav/search.png}"/>
            </a>
        </div>
    </div>
    <div class="index-nav-top">
        <div class="nav_list_main_title">
            <li>
                <span class="text" th:text="首页"></span>
            </li>
        </div>
        <div class="nav_list_title">
            知道
        </div>
        <div class="nav_list clearfix">
            <li><a href="hotpage.html" target="_blank">百科</a></li>
            <li><a href="hotpage.html" target="_blank">有问有答</a></li>
            <li><a href="hotpage.html" target="_blank">精选</a></li>
        </div>
        <div class="nav_list_title">
            社交
        </div>
        <div class="nav_list clearfix">
            <li><a href="hotpage.html" target="_blank">圈子</a></li>
            <li><a href="hotpage.html" target="_blank">同城</a></li>
            <li><a href="hotpage.html" target="_blank">同龄</a></li>
        </div>
        <div class="nav_list_title">
            发现
        </div>
        <div class="nav_list clearfix">
            <li><a href="hotpage.html" target="_blank">小视频</a></li>
            <li><a href="hotpage.html" target="_blank">朋友圈</a></li>
        </div>

    </div>
    <div class="advise">
        <div class="sowing-map">
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/ad/ad.jpg}"/>
            </a>

        </div>
        <div class="baby-brithday">
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
            </a>
        </div>
    </div>
    <!--新闻-->
    <div class="news">
        <!--今日新闻-->
        <div class="today-news">
            <div class="title">
                今日精选
            </div>
            <div class="content">
                <div class="dd">
                    <div class="dt">
                        <a href="index.html" target="_blank">父母这个行为，很可能会毁掉孩子</a>
                        ！
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                    <div class="similar">
                        相关阅读: 手心出汗是肾虚吗 出汗多还要盖被吗
                    </div>
                </div>
                <div class="dd">
                    <div class="dt">
                        越内向的孩子，长大后过得越辛苦？
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                    <div class="similar">
                        相关阅读: 孩子天生脾气大怎么办 孩子爱打人如何处理
                    </div>
                </div>
                <div class="dd">
                    <div class="dt">
                        宝宝睡觉出汗多，只是因为天气热？
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                    <div class="similar">
                        相关阅读: 性格培养书籍 儿童情绪管理
                    </div>
                </div>

            </div>
        </div>
        <div class="today-photo">
            <div class="title">
            </div>
            <div class="content">
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/ad1.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/ad2.jpg}"/>
                </a>
            </div>
        </div>

        <div class="today-more">
            <div class="title">
                交流精华
            </div>
            <div class="content">
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        1.锌能促进人体的生长发育，如果缺锌就会导致发育不良，因此宝宝补锌非常重要
                    </a>

                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        2.一年仅100个中国人进岛，这个风靡欧美的泰国小众海岛，趁没火赶紧去
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        3.在日常生活中，很多女性可能是比较困扰的，因为她们会遭受各种各样妇科疾病的环绕
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        4.孩子缺锌是日常中常见的一种事情，因为孩子的成长过程中由于身体在不断的发展，就需要各样
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                       5. 血拼香港边最平？小编搜集最全的OUTLET购物攻略
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        6.在日常生活中，很多女性可能是比较困扰的，因为她们会遭受各种各样妇科疾病的环绕
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                        7.一年仅100个中国人进岛，这个风靡欧美的泰国小众海岛，趁没火赶紧去
                    </a>
                </div>
                <div class="dt">
                    <a href="#" target="_blank" title="妈妈网">
                       8. 一年仅100个中国人进岛，这个风靡欧美的泰国小众海岛，趁没火赶紧去
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="hot-man">
        <div class="title">
            热门视频
        </div>
        <div class="content">
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/baby.jpg}"/>
                </a>
        </div>

    </div>
    <!--亲子-->
    <div class="my-baby">
        <div class="title">
            亲子育儿
        </div>
        <div class="content">
            <div class="left-img">
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/ad4.jpg}"/>
                </a>
            </div>
            <div class="news">
                <div class="dd">
                    <div class="dt">
                        越内向的孩子，长大后过得越辛苦？
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                </div>
                <div class="dd">
                    <div class="dt">
                        越内向的孩子，长大后过得越辛苦？
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                </div>
                <div class="dd">
                    <div class="dt">
                        越内向的孩子，长大后过得越辛苦？
                    </div>
                    <div class="small">
                        爱是孩子成长的阳光雨露，但溺爱却是孩子成长路上的绊脚石。溺爱是很多父母的
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--社区互动-->
    <div class="social">
        <div class="title">
            社区互动
        </div>
        <div class="content">
            <div class="left">
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/ad6.png}"/>
                </a>
                <div class="news">
                    <div class="line-news">
                        <div class="dt">
                            海风，沙滩，海浪，快带上孩子去海边玩水吧！
                        </div>
                        <div class="dd">
                            夏天的时候，到海边享受阳光沙滩海浪最最适合不过啦~~所以一到夏天，
                            海边成了我们一家必不可少的度假胜地，女儿也超级喜欢在海边嬉戏玩耍的
                        </div>
                    </div>
                    <div class="line-news">
                        <div class="dt">
                            海风，沙滩，海浪，快带上孩子去海边玩水吧！
                        </div>
                        <div class="dd">
                            夏天的时候，到海边享受阳光沙滩海浪最最适合不过啦~~所以一到夏天，
                            海边成了我们一家必不可少的度假胜地，女儿也超级喜欢在海边嬉戏玩耍的
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="top-img">
                    <a href="#" target="_blank" title="妈妈网">
                        <img th:src="@{web-static/imgs/ad/ad7.png}"/>
                    </a>
                </div>
                <div class="bottom-img">
                    <a href="#" target="_blank" title="妈妈网">
                        <img th:src="@{web-static/imgs/ad/ad7.png}"/>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- 时尚生活-->
    <div class="star-mama">
        <div class="title">
            时尚生活
        </div>
        <div class="left">
            <div class="dt">
                美妆主题
            </div>
            <a href="#" target="_blank" title="妈妈网">
                <img th:src="@{web-static/imgs/ad/ad8.jpg}"/>
            </a>
        </div>
        <div class="right">
            <div class="top">
                <a href="#" target="_blank" title="妈妈网">
                    <img th:src="@{web-static/imgs/ad/ad9.jpg}"/>
                </a>
            </div>
            <div class="bottom">
                <div class="left">
                    <a href="#" target="_blank" title="妈妈网">
                        <img th:src="@{web-static/imgs/ad/ad8.jpg}"/>
                    </a>
                </div>
                <div class="right">
                    <a href="#" target="_blank" title="妈妈网">
                        <img th:src="@{web-static/imgs/ad/ad8.jpg}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
   <!-- <div class="bottom">

    </div>-->
    <script type="text/javascript" th:src="@{web-static/js/jquery/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{web-static/js/main/index.js}"></script>

</body>
</html>