<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mama.baike.dao.topic.TopicDao">

    <resultMap id="BaseResultMap" type="com.mama.baike.entity.topic.TopicEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="topic_type" jdbcType="VARCHAR" property="topicType" />
        <result column="class_type" jdbcType="VARCHAR" property="classType" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="topic_uid" jdbcType="VARCHAR" property="topicUid" />
        <result column="image_uid" jdbcType="VARCHAR" property="imageUid" />
        <result column="manage_id" jdbcType="INTEGER" property="manageId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="queryObject" resultMap="BaseResultMap" parameterType="com.mama.baike.entity.topic.TopicQuery">

        select * from t_topic t where 1=1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="topicType != null">
            AND t.topic_type = #{topicType}
        </if>
        <if test="classType != null">
            AND t.class_type = #{classType}
        </if>
        <if test="name != null">
            AND t.name = #{name}
        </if>
        ORDER  BY  t.create_time DESC

    </select>
    <select id="queryList" resultMap="BaseResultMap"
            parameterType="com.mama.baike.entity.topic.TopicQuery">

        select * from t_topic t where 1=1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="topicType != null">
            AND t.topic_type = #{topicType}
        </if>
        <if test="classType != null">
            AND t.class_type = #{classType}
        </if>
        <if test="name != null">
            AND t.name = #{name}
        </if>
        ORDER  BY  t.create_time DESC
    </select>

</mapper>