@CHARSET "UTF-8";
a:hover{color:#400040;text-decoration:none /*无下划线*/ }
a:link{color:#400040;text-decoration:none /*无下划线*/}
a:visited{color:#400040;text-decoration:none /*无下划线*/}
a:active{color:#400040;text-decoration:none /*无下划线*/}

.clearfix{display:block;zoom:1}

.nav
{
    height:120px;
}
body{
    margin: 0px auto;
    padding: 0px;
}