<!DOCTYPE html>
<!--[if lt IE 7]><html lang="zh-CN" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html lang="zh-CN" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html lang="zh-CN" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="zh-CN" class="no-js"> <!--<![endif]-->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta name="keywords" content="大集金服|大集金融|大集理财|互联网金融|P2P理财|投资理财|个人理财|债权转让|理财计划|网络贷款|经营贷|消费贷|票据贷|网商贷|网贷|小额贷款">
	<meta name="description" content="大集金服官方网站，是世界500强海航集团旗下投资理财平台，作为核心央企中华全国供销合作总社和海航集团下属合资公司，依托全国供销系统资源和海航实体产业优质资源，专注于高收益、低风险、多样化的金融产品设计，保障投资者实现财富增长，为会员提供安全、规范、灵活、收益合理的综合金融服务。">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="renderer" content="webkit"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="pragma" content="no-cache"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta http-equiv="expires" content="0" />
	<title>
		大集金服-【官网】海航集团旗下互联网金融平台|互联网理财
	</title>
	<!--公共CSS-->
	<head th:replace="web/layout/header-css :: header_css"></head>

	<!--页面相关CSS-->

	<!-- custom cs -->

</head>
<body>
<div class="js-route-flag js-errors-page"></div>
<div class="ccoopfs-container">
	<div class="container">

		<div class="width1200 content-404">
			<img class="error-img-error" th:src="@{/web-static/images/modules/500.png}" alt="">
			<p class="errors-settime-out-box">
				倒计时 <span class="js-time-out">5</span> 秒跳转大集金服首页，或者直接点击
				<a th:href="@{/}" class="">返回首页</a>
			</p>
		</div>
		<span th:text="${'环境:' + profiles}"></span>
		<div th:if="${!'prod'.equals(profiles)}" th:text="${errors}"></div>
	</div>
</div>
<div th:replace="web/layout/footer-js :: footer_js"></div>

<script>
</script>
</body>
</html>
